<h2>极客快报开发跟新</h2>

<ul>
  <li>20100522: 正文阅读中加了相关文章和收藏</li>
  <li>20100519: 添加全文搜索功能</li>
  <li>20100517: 添加用户反馈,文章收藏改回‘赞’功能,Cookie登录时间加长</li>
  <li>20100512: 添加个人页和文章收藏功能</li>
  <li>20100502: 添加分享到其他网站链接</li>
  <li>20100501: Cache产生灵异现象问题改进</li>
  <li>20100423: 可以用 <a title="极客分享" onclick="window.alert('请把本链接加到书签栏中.');return false;" href="javascript:void((function()%20{window.open(%22<%= HOST_URL %>/posts/new?l=%22+encodeURIComponent(document.location)+%22&t=%22+encodeURIComponent(document.title))})())">极客分享</a> 的书签提交文章了.</li>
  <li>20100415: 添加缓存页，访问速度更快.</li>
  <li>20100415: 添加了‘赞’的功能</li>
  <li>20100415: 显示正文改进</li>
  <li>20100414: 1.FeedFetcher 实现分布式,墙外Feed也可以同时跟新.2. 版面做了点调整，方便留言和手机</li>
  <li>20100412: 新闻讨论页加入正文预览</li>
  <li>20100411: 1.游客可以评论和提交新闻,2.添加了‘最新讨论</li>
  <li>20100408: 用户可直接提交RSS Feed</li>
  <li>20100406: 手机友好界面发布</li>
  <li>20100405: RPX登录功能加入</li>
  <li>20100404: 0.1版上线</li>

</ul>
